@model DF.Tryer.Model.Sys_Func

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Sys_Func</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Sys_PageID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sys_PageID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParentID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParentID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FuncName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FuncName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsAsc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsAsc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsDelete)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsDelete)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
